a { color:whitesmoke;}
h1 {font-family: playlist;}
h2 {font-family: josefin;}

body {font-family: sans-serif;}

@font-face {
    font-family: playlist;
    src: url("playlist.otf") format("opentype");
}

@font-face {
    font-family: josefin;
    src: url("josefin.ttf") format("truetype");
}

.content {
    position: relative;
    margin-top:0;
    color: whitesmoke;
    font-size: large;
    line-height: 1.53em;;
}

.content::before {
    margin:0;
    content: "";
  background: url(bg1.jpg);
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.bg {
    background-image: url('bg1.jpg');
    background-size: cover;
}
